# Cambiar user y password por el usuario y contraseña correspondiente.
# Cambiar database por el nombre de la Base de Datos adecuada.
#PORT=4000
#opción 1 > DB_CNN=mongodb+srv://user:password@cluster0.4hjub.mongodb.net/database
#opción 2 > DB_CNN1=mongodb://user:password@cluster0-shard-00-00.4hjub.mongodb.net:27017,cluster0-shard-00-01.4hjub.mongodb.net:27017,cluster0-shard-00-02.4hjub.mongodb.net:27017/database?ssl=true&replicaSet=atlas-9dxfhn-shard-0&authSource=admin&retryWrites=true&w=majority